.chat_box_wrapper{
  width: auto;
}
.chat_box{
  width: 80%;
  height: 90px;
  background-color: lightgrey;
}
.input_box{
  width: 80%;
  height: 10%
}
#login{
  width: 5rem;
  height: 2rem;
  background-color: blue;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
body{
  overflow: hidden;
}
