.chat_box_wrapper{
  width: auto;
  height: 100%;
}
.chat_box_back{
  width: 50%;
  height: 70%;
  background-color: lightgrey;
  display: flex;
  position: relative;
}
.input_box{
  width: 45%;
  height: 10%;
  display: inline-block;
}
.emote_list{
  width: 100%;
  height: 30%;
  background-color: aqua;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
  display: none;
}
.preview{
  width: 5rem !important;
  height: 5rem !important;
}
.emote_list_button{
  width: 5%;
  height: 10%;
  background-color: aqua;
  display: inline-block;
}
body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.button{
  margin: 0px;
  border: 0px;
}
.chat_box{
  height: 100%;
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow-y: auto;
  word-break: break-all;
}
.chat{
  padding: 0px;
  border: 0px;
  margin: 0px;
  text-align: left;
  display: inline-block;
  margin: .25rem;
}
.id{
  display: inline-block;
}
textarea{
  resize: none;
}
.emote{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.hover_tag{
  position: absolute;
  background-color: black;
}
.hover_tag p{
  color: white;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.spin{
  animation: spin 5000ms linear infinite;
}
p{
  margin: 0px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.flip{
  animation: flip 1000ms linear infinite;
}
@keyframes flip{
  0%{
    transform:scaleX(1);
  }
  50%{
    transform:scaleX(-1);
  }
  100%{
    transform:scaleX(1);
  }
}
.contrast{
  filter: contrast(200%);
}
.sad{
  filter: grayscale(80%);
}
.wacky{
  filter: hue-rotate(90deg);
}
.spooky{
  filter: invert(100%);
}








.rainbow{
  animation: rainbow 1000ms linear infinite;
}
@keyframes rainbow{
  0%{
    background: rgb(255, 0, 0);
  }
  %20{
    background: rgb(255, 153, 0);
  }
  %40{
    background: rgb(255, 255, 0);
  }
  %60{
    background: rgb(0, 153, 51);
  }
  %80{
    background: rgb(0, 102, 255);
  }
  100%{
    background: rgb(153, 51, 255);
  }
}
#login{
  width: 8rem;
  height: 2rem;
  background-color: aqua;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#login-signup{
  width: 80%;
  height: 90%;
  margin: auto;
  background-color: aqua;
  position: absolute;
}
