.chat_box_wrapper{
  width: auto;
  height: 100%;
}
.chat_box_back{
  width: 50%;
  height: 50%;
  background-color: lightgrey;
  display: flex;
  overflow: hidden;
}
.input_box{
  width: 50%;
  height: 10%
}
body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.button{
  margin: 0px;
  border: 0px;
}
.chat_box{
  height: auto;
  width: auto;
  align-self: flex-end;
}
.chat{
  padding: 0px;
  border: 0px;
  margin: 0px;
  text-align: left;
  display: inline-block;
}
textarea{
  resize: none;
}
.emote{
  display: inline-block;
}
.spin{
  animation: spin 5000ms linear infinite;
}
p{
  margin: 0px;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.flip{
  animation: flip 1000ms linear infinite;
}
@keyframes flip{
  0%{
    transform:scaleX(1);
  }
  50%{
    transform:scaleX(-1);
  }
  100%{
    transform:scaleX(1);
  }
}
